<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
     <h1 class="h2" style="margin-top:-5%">
                    Radhey gor
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#06130d"></i> Addres:</h3>               
                <p style="margin-top:6%;line-height:35%">Scarborough</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#06130d"></i> E-Mail:</h3>
                <p style="margin-top:6%;line-height:35%">radhey.gor@gmail.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#06130d"></i> Name:</h3>
                <p style="margin-top:6%;line-height:35%">Radhey gor</p>
                <br />
                <br />
            </div>
        </div>
    
<% include ../partials/footer.ejs %>


